*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    background: linear-gradient(#11998e, #38ef7d, #11998e);
}

a{
    text-decoration: none;
    color: inherit;
}
button{
    cursor: pointer;
    padding: 4px;
}


.grid{
    border: 1px solid black;
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
    background-color: rgb(47, 229, 168);
}

.grid div{
    width: 33px;
    height: 33px;
}

.ending-block{
    background-color: rgb(56, 208, 74);
    border-radius: 50%;
}

.starting-block{
    background-color: rgb(56, 122, 208);
    border-radius: 30%;
}


.l1, .l2, .l3{
    background-color: rgb(175, 86, 58);
}

.l4, .l5{
    background-color: rgb(87, 202, 255);
}

.c1{
    background-color: rgb(161, 161, 161);
    background-image: url(/5.Frogger/car.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.c2, .c3{
    background-color: rgb(161, 161, 161);
}

.frog{
    background-image: url(/5.Frogger/frog.png);
    background-size: cover;
}